<p class="headline">Building a community of backers around an idea is an amazing way to make something new. You immediately feel like you’re part of a larger club of art-supporting fanatics.</p>
<div class="btn_box">
  <a href="/projects">View Projets</a>
</div>
