<div class="btn_box">
    <a href="/projects/new">Add new Project</a>
</div>
<section>
  <% @projects.each do |project| %>
      <article>
        <h2><%= project.title %> </h2>
        <p><%= project.description %> </p>
        <div class="btn_more">
          <%= link_to 'More', project%>
        </div>
      </article>
  <%end%>

</section>
