<div class="btn_box">
  <%= link_to 'Add new Project', action: new_project_path %>
</div>

<section>
  <% @projects.each do |project| %>
      <article>
        <h2><%= project.title %> </h2>

        <p><%= project.description %> </p>

        <div class="btn_more">
          <%= link_to 'More', project %>
        </div>
      </article>
  <% end %>
</section>