<% proj_temp = request.original_url%>

<section>
  <%= puts @project %>
      <article>
        <h2>zedez</h2>
        <p>hd</p>
        <div>
          <a href="#">More</a>
        </div>
      </article>

</section>